@import "variables.scss";

body {
  font-family: Arial, sans-serif;
  background-color: $light-gray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Register and Login
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 800px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form {
  padding: 2rem;
}

.form h2 {
  color: $light-green;
  bottom: 10px;
  justify-items: center;
}

.form .input-group {
  margin-bottom: 1rem;
}

.form .button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
