@import 'variables.scss';

.container-notification {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 20px;
    left: 20px;
    height: 80px;
    width: 300px;
    border-radius: .5vw;
    background-color: $color-black-secondary;
    font-size: 35px;
    overflow: hidden;

    .time {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 1px;
        transform-origin: left;
        animation: time-width 3s forwards;
    }

    @keyframes time-width {
        from {width: 100%;}
        to  {width: 0%;}
    }

    .container-msg {
        line-height: 25px;
        text-align: center;

        h2 {
            font-weight: 100;
            font-size: 20px;
            color: $color-light-gray;
        }

        p {
            font-size: 16px;
            color: $color-medium-gray;
        }
    }
}