$color-light-gray: #f2f4f7;
$color-medium-gray: #bdbdbd;
$color-gray: gray;

$color-black-primary: #121212;
$color-black-secondary: #1b1b1b;
$border-color-gray: #ededed1a;

$color-white-primary: white;

$color-green: #5abf90;
$color-purple: #bf9bf2;

$color-blue: #115dfc;
$border-blue: #115bfc59;
