$color-light-gray: #f2f4f2; //cor de fundo do input
$color-medium-gray: #bdbdbd; //cor que fica em volta do input ao passar o mouse ou selecionar ele (hover)
$color-gray: gray;

$color-black-primary: #121212;
$color-black-secondary: #1b1b1b;

$color-white-primary: white;

$color-green: #00a32a; //cor de titulos/de botões
$color-green-background: #eef0e5; //cor de fundo da página
$color-purple: #bf9bf2;

$color-blue: #115dfc;
$border-blue: #115bfc59;
