@import "../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.logout-container {
  position: absolute;
  right: 130px; /* Ajuste conforme necessário */
  top: -85px;
  transform: translate(-50%, 0); /* Move o botão para a direita */
}
.user-info-container {
  position: fixed;
  top: 25px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.homepage {
  position: relative;
  padding: 20px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 45px;
  margin-left: 15px;
}
.card-opacity {
  opacity: 1 !important;
}
.blocked {
  opacity: 0.5; /* Define a opacidade do card */
  pointer-events: none; /* Desabilita a interação com o card */
  cursor: not-allowed; /* Muda o cursor ao passar por cima do card */
}
