@import "../../styles/variables.scss";

.custom-button {
  background-color: $light-green;
  color: $white;
  border: none;
  width: 300px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($light-green, 10%);
  }
}
